# Data Analysis

Comparing the actual frequencies of COVID-19 death cases might not be a good idea to compare different races. Even though the mortality rate for whites is lower than other races, we will get a larger number of white deaths compared to other races, because the population size for whites is large. As a next step, we will be comparing COVID-19 mortality rates.

In [1]:
import pandas as pd
df = pd.read_csv('Data/COVID.csv')
df

      Race    Cases  Deaths  Population
0    White  2010404   96979   197277789
1    Black   824169   39648    39445495
2    Latin  1030154   36882    56510571
3    Asian   123389    6891    16989540
4    Other   452013    8694    10781012
5  Unknown  2646058   11052           0

We will ignore unknown here, because it is impossible to determine the mortality rates for the unknowns.

We can delete the final row of the dataframe by using:

```Python
df = df[:-1]
```

In [2]:
df = df[:-1]
df

    Race    Cases  Deaths  Population
0  White  2010404   96979   197277789
1  Black   824169   39648    39445495
2  Latin  1030154   36882    56510571
3  Asian   123389    6891    16989540
4  Other   452013    8694    10781012

## 1. Finding out mortality rates

We can use the following formula to find out mortality rates:

$$
Mortality~Rate = \frac{Number~of~deaths}{Population~size}
$$