# Introduction to Data Analysis

We have finally finished the introduction to Python and coding!

From now on, we will be focusing on analyzing dataset through Python.

Reminder from the lectures:

<img src="Image/slide.png" width="600" height="600">

Almost all data looks like this data matrix. From now on, we will be working to analyze this data matrix.

# Introduction to pandas

<img src="Image/pandas_logo.png" width="400" height="600">
<img src="Image/panda.png" width="400">

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language (from the official website).

Most data scientists use pandas in a daily basis, and we will be using pandas in our lab as well.

## What is the purpose of pandas?

There are two main purposes of using pandas for this course:

- Loading dataset to Python
- Data manipulation

Most dataset that we are planning to use in the lab are CSV files. They will have .csv prefix at the end. CSV files are very similar to Excel, and they can be opened/created by using Excel. Pandas is a great tool to load CSV files in Python.

Besic steps of data analysis:
1. Create CSV file (it can be easily created by using Excel)
2. Load it in Python by using pandas
3. Conduct data analysis in Python

## This is the most important line to use pandas!!!

In [3]:
import pandas as pd

Most labs from now on will be using pandas. I will always include this code at the beginning of each lab notebooks, so please make sure to run this code. You only have to run this code once.

If you get this error message, it means that you forgot to run this code.

<img src="Image/error.png" width="400" height="600">

```Python
df = pd.read_csv('Directory name')
```
is the code that you use to load a dataset to Python. Here, df is a variable name, so you don't have to make it as df. A directory is the location of the file in your computer. In the example below, we will be loading "BMI_Data.csv" file in "Data" folder.

In [19]:
df = pd.read_csv("Data/BMI_Data.csv")

We will show the dataset:

In [20]:
df

      Gender  Age  Height  Weight    Race1    BMI
0       male   34   164.7    87.4    White  32.22
1       male   34   164.7    87.4    White  32.22
2       male   34   164.7    87.4    White  32.22
3       male    4   105.4    17.0    Other  15.30
4     female   49   168.4    86.7    White  30.57
...      ...  ...     ...     ...      ...    ...
9995    male   28   177.3    92.3  Mexican  29.40
9996  female    0     NaN     6.7    White    NaN
9997    male   27   175.8    96.7  Mexican  31.30
9998    male   60   168.8    78.4    White  27.50
9999    male   60   168.8    78.4    White  27.50

[10000 rows x 6 columns]

Notice that it says 10,000 rows x 76 columns at the end. This indicates that there are 10,000 observations with 6 different variables. This dataset comes from NHANES dataset, and it is statistically shown that these 10,000 people in the dataset are the representative of the entire population in the U.S. We will be using this dataset to make estimates of the socioeconomic factors in the U.S.

### Statistical Questions (Their answers should be in the lecture notes)

1. What is a random sample?
2. What does a representative of the population mean?
3. What is observational data?
4. Can we make conclusions from observational data?

## Accessing columns

Each columns in the dataset can be accessed by using the following code:

```Python
df['Column Name']
```
if df is the variable that contains the dataset. We can add a new column to the dataset by specifying
```Python
df['New Column Name'] = # data that you would like to put in the new column
```

For example: (This code will only take 'Age' variable in the dataset)

In [21]:
df['Age']

0       34
1       34
2       34
3        4
4       49
        ..
9995    28
9996     0
9997    27
9998    60
9999    60
Name: Age, Length: 10000, dtype: int64

## Obesity

It is shown that obesity is related to COVID deaths. 

<img src="Image/COVID_news.png" width="600" height="600">

(Taken from: https://www.sciencemag.org/news/2020/09/why-covid-19-more-deadly-people-obesity-even-if-theyre-young)


The raw data only includes BMI data, and obesity level is given as:

<table style="width:50%">
  <tr>
    <th>BMI</th>
    <th>Considered</th>
  </tr>
  <tr>
    <td>Below 18.5</td>
    <td>Underweight</td>
    </tr>
    <tr>
        <td>18.5 to 24.9</td>
        <td>Normal</td>
    </tr>
    <tr>
    <td>25.0 to 29.9</td>
        <td>Overweight</td>
    </tr>
    <tr>
        <td>30 or higher</td>
        <td>Obesity</td>
    </tr>
    <tr>
        <td>40 or higher</td>
        <td>Severe Obesity</td>
    </tr>    
</table>

We will be using if statement to convert BMI data to obesity data.

Steps to create a new column data by using if statement:

1. Create a function that has the if statement inside. Write return to indicate the desired output.
2. Write the following code:
```Python
df['New column name'] = df.apply(function, axis=1)
```
where df is the name of the dataframe and function is the name of the function created in step 1.

In [22]:
df

      Gender  Age  Height  Weight    Race1    BMI
0       male   34   164.7    87.4    White  32.22
1       male   34   164.7    87.4    White  32.22
2       male   34   164.7    87.4    White  32.22
3       male    4   105.4    17.0    Other  15.30
4     female   49   168.4    86.7    White  30.57
...      ...  ...     ...     ...      ...    ...
9995    male   28   177.3    92.3  Mexican  29.40
9996  female    0     NaN     6.7    White    NaN
9997    male   27   175.8    96.7  Mexican  31.30
9998    male   60   168.8    78.4    White  27.50
9999    male   60   168.8    78.4    White  27.50

[10000 rows x 6 columns]

As you can see, BMI data is stored in 'BMI' column.

We define a function:

In [24]:
def function(row):
    if row['BMI'] < 18.5:
        return 'Underweight'
    elif row['BMI'] < 25:
        return 'Normal'
    elif row['BMI'] < 30:
        return 'Overweight'
    elif row['BMI'] < 40:
        return 'Obesity'
    else:
        return 'Severe Obesity'

Reference:

<table style="width:50%">
  <tr>
    <th>BMI</th>
    <th>Considered</th>
  </tr>
  <tr>
    <td>Below 18.5</td>
    <td>Underweight</td>
    </tr>
    <tr>
        <td>18.5 to 24.9</td>
        <td>Normal</td>
    </tr>
    <tr>
    <td>25.0 to 29.9</td>
        <td>Overweight</td>
    </tr>
    <tr>
        <td>30 or higher</td>
        <td>Obesity</td>
    </tr>
    <tr>
        <td>40 or higher</td>
        <td>Severe Obesity</td>
    </tr>    
</table>

Copy and paste the code that was given before:

In [25]:
df['Obesity'] = df.apply(function, axis=1)

In [26]:
df

      Gender  Age  Height  Weight    Race1    BMI         Obesity
0       male   34   164.7    87.4    White  32.22         Obesity
1       male   34   164.7    87.4    White  32.22         Obesity
2       male   34   164.7    87.4    White  32.22         Obesity
3       male    4   105.4    17.0    Other  15.30     Underweight
4     female   49   168.4    86.7    White  30.57         Obesity
...      ...  ...     ...     ...      ...    ...             ...
9995    male   28   177.3    92.3  Mexican  29.40      Overweight
9996  female    0     NaN     6.7    White    NaN  Severe Obesity
9997    male   27   175.8    96.7  Mexican  31.30         Obesity
9998    male   60   168.8    78.4    White  27.50      Overweight
9999    male   60   168.8    78.4    White  27.50      Overweight

[10000 rows x 7 columns]

Observe that we have the new 'Obesity' column in the dataframe.

We can count the elements in the column by using:

```Python
df['Column Name'].value_counts()
```

In [27]:
df['Obesity'].value_counts()

Normal            2941
Overweight        2656
Obesity           2281
Underweight       1271
Severe Obesity     851
Name: Obesity, dtype: int64

Remember that we had 10,000 observations. We can estimate that 22.81% of the population are obese (excluding severely obese) and 8.51% of the population are severely obese. Combined together, we can estimate that 31.32% of the U.S. population are obese.

In the future labs, we will be examining the socioeconomic factors behind obesity rates to understand the reasons behind COVID-19 deaths.

## Any final questions before we end the lab today?