# Lab2: List

## List

In the previous notebook we worked with creating variables, which stores 1 value to a variable. Sometimes, we are interested in storing several values to a variable.

Let's imagine that we would like to analyze the test scores of five students. We can create five variables:

```Python
student1 = 90
student2 = 85
student3 = 86
student4 = 92
student5 = 93
```

and then use these variables to analyze the data. For example, we can compute the average like this:

```Python
total = student1 + student2 + student3 + student4 + student5
average = total / 5
```

However, real data can have many elements, and its unrealistic to create variables for each individual element. Instead, we can create a list that has multiple values inside.

Lists are created by using [ ]

For example:

In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

We can also use variables to create a list

In [3]:
a = 10
b = 20
c = 30

abc = [a, b, c]

print(abc)

[10, 20, 30]

### 1. Access elements in list

We write: list_name[number]

to access the element in the list.

In Python, number counting starts from zero. So, 1,2,3, ... will be 0,1,2, ... in Python. This means that you have to write (number - 1) inside the square brackets to get the element in the list

In [4]:
numbers = [1,2,3,4,5]

We will be accessing the first element in the list

In [5]:
numbers[0]

1

We will be accessing the third element in the list. Examine that the number inside the square brackets is 3 - 1 = 2, instead of 3.

In [3]:
numbers[2]

3

### 2. Access multiple elements

Instead of specifying 1 number, we can write number1:number2 inside [ ] to access multiple elements.

In [5]:
numbers = [1,2,3,4,5]

In [6]:
numbers[0:3]

[1, 2, 3]

This example will return a list of elements from numbers[0] to numbers[2]. The final number must be -1 the value that you would like to get.

In [7]:
numbers[2:4]

[3, 4]

This example will return a list of elements from numbers[2] to numbers[3].

### 3. Change element in list

Instead of creating a new list, we can change the original list by specifying:

list_name[number] = new_element

In the steps below, we will create a list and change the element inside the list.

In [8]:
numbers = [1,2,3,4,5]

# Change the first element
numbers[0] = 10

print(numbers)

[10, 2, 3, 4, 5]

Notice that the first element in the list is 10 instead of 1 now.

We will change the fifth element of numbers in the code below:

In [9]:
numbers[4] = 100

print(numbers)

[10, 2, 3, 4, 100]

### 4 Get length of the list

We use len(list_name) to get the length of the list.

In [15]:
list1 = [1,2,3,4,5]
len(list1)

5

### 5. Combine two lists

We can use + to add two lists

In [12]:
list1 = [1,2]
list2 = [100,200]

list3 = list1 + list2

print(list3)

[1, 2, 100, 200]

In [13]:
list4 = list2 + list1
print(list4)

[100, 200, 1, 2]

As you see, the order matters when we add two lists together.

### 6. Add an element to the list

We can use .append(value) to add an element to the end of the list

In [20]:
list1 = [1,2,3,4,5]

list1.append(10)

print(list1)

[1, 2, 3, 4, 5, 10]

### 7. Find the sum of the list

If all the elemenets in a list are numbers, we can use sum() to add the elements inside the list.

In [23]:
numbers = [1,2,3]
sum(numbers)

6

In [24]:
list1 = [1,1,1,1]
sum(list1)

4

## Next:

- If statement