# Welcome to Python! - Basics of Python

<img src="Image/logo.png" width="400" height="600">

## Contents Covered:
- Print Statement
- Math Operations
- Variables

## 1. Print Statement

We will be starting with print statement.

The first program: Hello World

In [1]:
print("Hello, World!")

Hello, World!

Examine that we have to put " " around the word. Not putting " " will give you an error.

In [2]:
print(Hello, World)

NameError: name 'Hello' is not defined

In [3]:
print("Python")

Python

In [4]:
print("Test")

Test

In [5]:
print("My name is ..")

My name is ..

In [6]:
print("This is the first Python lab")

This is the first Python lab

## 1-1. Taking Notes in Lab

If you would like to take notes in the lab, use # before the comment that you would like to type in the code.

For example:

In [7]:
# This is the print statement
# Notice that this 'blue' part doesn't change the output of the code
print("Hello, World!")

Hello, World!

In [8]:
# The output of this code is Hi
print("Hi")

Hi

Here, notice that the color changed to blue

## 2. Math

Python can do usual math operations.

<table style="width:50%">
  <tr>
    <th>Operation</th>
    <th>Meaning</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Subtraction</td>
    </tr>
    <tr>
    <td>*</td>
        <td>Multiplication</td>
    </tr>
    <tr>
        <td>/</td>
        <td>Division</td>
    </tr>
    <tr>
        <td>%</td>
        <td>Remainer</td>
    </tr>
    <tr>
        <td>//</td>
        <td>Quotient</td>
    </tr>
    
</table>

### Addition

In [9]:
1 + 1

2

In [10]:
2 + 3

5

### Subtraction

In [11]:
6 - 2

4

In [12]:
7 - 1

6

In [13]:
1 - 9

-8

### Multiplication

In [14]:
3 * 1

3

In [15]:
6 * 2

12

### Division

In [16]:
15 / 3

5.0

In [17]:
7 / 2

3.5

### Remainder

Remainder can be determined by using % sign

In [18]:
15 % 2

1

In [19]:
11 % 3

2

### Quotient

Quotient can be determined by using //

In [20]:
11 // 2

5

In [21]:
13 // 3

4

We can also use print statement to show the result. Note that we didn't surround the math notation with " "

In [22]:
print(1 + 1)

2

In [23]:
print(2 * 3)

6

In [24]:
print(2 / 2)

1.0

## 3. Variables

We can substitute values in variables. Here, do not surround the words with " "

In [25]:
a = 2
b = 1

print(a + b)
# Here, you substitute 2 to a and 1 to b

3

This is the same as:

In [26]:
print(2 + 1)

3

In [27]:
# variable names can be anything
value1 = 3
value2 = 2

print(value1 * value2)

6

This is the same as:

In [28]:
print(3 * 2)

6

In [ ]:
# Another example
a = 14
b = 7

print(a / b)

## Any Questions?

## Some Remarks:

### 3-1. Do not add spaces in variable names

In [29]:
first value = 3
print(first value)
# This will give you an error

SyntaxError: invalid syntax (<ipython-input-29-79a3068baf90>, line 1)

This will give you an error. Instead, use _ or - to connect words.

In [30]:
first_value = 3
print(first_value)

3

### 3-2. Uppercase and lowercase letters are different

In [31]:
a = 3
print(a)

3

In [32]:
a = 3
print(A)
# This will give me an error

NameError: name 'A' is not defined

In [34]:
A = 2
print(A)
# This is fine

2

This will give you an error.

In [35]:
Number = 1
print(number)

NameError: name 'number' is not defined

In [36]:
Number = 2
print(Number)

2

As a general rule of thumb, it is better not to put capital letters in variable names.

### 3-3. You can substitute a different value to the same variable name

In [37]:
a = 2
b = 3
print(a + b)

5

In [38]:
a = 1

In [39]:
print(a + b)
#The value of a will be 1 here, so it will be 1 + 3

4

Instead of the original 2 (=a) + 3 (=b), we substituted 1 to a.

In [40]:
# Original: a = 1, b = 3
b = 5
print(a * b)

5

It is possible to use the original value to change the values in variables

In [41]:
print(a)

1

In [42]:
# The original a value is 1
a = a + 1
# This is the same as a = 1 + 1
print(a)

2

In [43]:
a = a * 3
# This is the same as a = 2 * 3
print(a)

6

<table style="width:50%">
  <tr>
    <th>Operation</th>
    <th>Meaning</th>
      <th>Example</th>
  </tr>
  <tr>
    <td>+=</td>
      <td> a += b</td>
    <td>Same as a = a + b</td>
    </tr>
    <tr>
        <td>-=</td>
        <td> a -= b</td>
        <td>Same as a = a - b</td>
    </tr>
    <tr>
    <td>*=</td>
        <td>a = a * b</td>
        <td>Same as a = a * b</td>
    </tr>
    <tr>
        <td>/=</td>
        <td>a /= b</td>
        <td>Same as a = a / b</td>
    </tr>
    
</table>

In [44]:
a = 2
a += 1
# This is the same as a = a + 1 (= 2 + 1)
print(a)

3

In [45]:
a = 3
a -= 5
# This is the same as a = a - 5
print(a)

-2

In [46]:
a = 1
a *= 2
print(a)

2

## Any Questions?

<img src="Image/Question.png" width="400" height="600">

## Any final questions before we go to the next notebook?

### Next Steps:
- String
- Useful things with print statements