# HW2 [50 points]

Please complete this assignment on your computer instead of using Codio.

Before you start this assignment, follow the directions in "How to install Python.pdf" and "How to use Python on your computer.pdf" and download Anaconda to your computer.

# Problem 1 [5 points x 3]

## (a)

Points:
- 2 Points: Explanation
- 3 Points: Correct code

Explanation:

The first if statement is 
```Python
if number % 2 == 0
```
so all numbers that can be divided by 2 and 3 are `True` here. Instead you should have
```Python
if number % 2 == 0 and number % 3 == 0
```
here. The other codes can stay the same.

In [4]:
number = 24

if number % 2 == 0 and number % 3 == 0:
    print("Divisible by 2 and 3")
elif number % 3 == 0:
    print("Divisible by 3 but not divisible by 2")
elif number % 2 == 0:
    print("Divisible by 2 but not divisible by 3")
else:
    print("Not divisible by 2 or 3")

Divisible by 2 and 3

## (b)

The problem forgets `:` at the end.

In [7]:
list1 = ['one', 'two']
list2 = ['A', 'B']

def add_list(list1, list2):
    lista = list1 + list2
    print(lista)

add_list(list1, list2)

['one', 'two', 'A', 'B']

## (c)

Only correct code is required here. The problem can be easily solved by `insert()` function in Python, but I was hoping that you could solve this problem by only the techniques that are covered in class.

In [11]:
list1 = [1,2,3,4,5]
lista = list1[0:3]
lista.append(100)
lista + list1[3:5]

[1, 2, 3, 100, 4, 5]

# Problem2 [20 points]

- Create your csv file and load it in Python [4 points]
- Correct directory path [2 points]
- Correctly calculate the total score [4 points]
- Correct if statement [6 points]
- Correct final grades [4 points]

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\daiki\Documents\Grades.csv')

df['Homework'] = (df['HW1'] + df['HW2'] + df['HW3'] + df['HW4'] + df['HW5']) / 5
df['Total'] = 0.2 * df['Homework'] + 0.25 * df['Midterm1'] + 0.25 * df['Midterm2'] + 0.3 * df['Final']

df

,Student,Gender,HW1,HW2,HW3,HW4,HW5,Midterm1,Midterm2,Final,Homework,Total
0,John,Male,98,97,92,77,89,87,83,90,90.6,87.62
1,William,Male,84,97,89,92,88,90,79,85,90.0,85.75
2,Elizabeth,Female,0,87,53,88,79,78,68,73,61.4,70.68
3,Thomas,Male,100,98,54,0,83,68,74,74,67.0,71.10
4,Emily,Female,86,98,87,100,100,97,93,91,94.2,93.64
5,Lisa,Female,99,87,74,88,79,91,95,93,85.4,91.48
6,Joseph,Male,96,77,0,79,0,72,89,83,50.4,75.23
7,Michael,Male,89,87,100,99,92,100,97,92,93.4,95.53
8,Sarah,Female,96,100,100,0,86,84,88,74,76.4,80.48
9,Amy,Female,86,100,94,84,85,56,62,63,89.8,66.36

In [2]:
def function(row):
    if row['Total'] >= 90:
        return 'A'
    elif row['Total'] >= 80:
        return 'B'
    elif row['Total'] >= 70:
        return 'C'
    else:
        return 'D'

In [3]:
df['Grade'] = df.apply(function, axis=1)
df

,Student,Gender,HW1,HW2,HW3,HW4,HW5,Midterm1,Midterm2,Final,Homework,Total,Grade
0,John,Male,98,97,92,77,89,87,83,90,90.6,87.62,B
1,William,Male,84,97,89,92,88,90,79,85,90.0,85.75,B
2,Elizabeth,Female,0,87,53,88,79,78,68,73,61.4,70.68,C
3,Thomas,Male,100,98,54,0,83,68,74,74,67.0,71.10,C
4,Emily,Female,86,98,87,100,100,97,93,91,94.2,93.64,A
5,Lisa,Female,99,87,74,88,79,91,95,93,85.4,91.48,A
6,Joseph,Male,96,77,0,79,0,72,89,83,50.4,75.23,C
7,Michael,Male,89,87,100,99,92,100,97,92,93.4,95.53,A
8,Sarah,Female,96,100,100,0,86,84,88,74,76.4,80.48,B
9,Amy,Female,86,100,94,84,85,56,62,63,89.8,66.36,D

# Problem3

- Load “NHANES.csv” file in Python [3 points]
- Correct if statements [7 points]
- Correct classification [5 points]

New grading scheme:

- No value counts [-1 point] (It was asked in the problem)
- Slight incorrect errors [-1 point] (Most counts are correct, but some are incorrect)
- Incorrect if statement order/statement [-3 points] (The general if statement is correct, but the counts are drastically different)
- Completely different if statement [-5 points]

In [11]:
import pandas as pd
df = pd.read_csv(r'C:\Users\daiki\Documents\PythonLabGithub\Lab 2\Data\NHANES.csv')

In [12]:
# I just included them here for my reference (no need to do this)
diastolic = df['BPDiaAve']
systoic = df['BPSysAve']

In [33]:
def function(row):
    if row['BPDiaAve'] < 80 and row['BPSysAve'] < 120:
        return 'Healthy'
    elif row['BPDiaAve'] < 80 and row['BPSysAve'] < 130:
        return 'Elevated'
    elif row['BPDiaAve'] < 90 and row['BPSysAve'] < 140:
        return 'Stage1'
    elif row['BPDiaAve'] <= 120 and row['BPSysAve'] <= 180:
        return 'Stage2'
    elif row['BPDiaAve'] >= 180 or row['BPSysAve'] >= 120:
        return 'Hypertensive Crisis'
    else:
        return 'NaN'

In [34]:
df['Blood Pressure'] = df.apply(function, axis=1)

In [35]:
df['Blood Pressure'].value_counts()

Healthy                4794
Stage1                 1463
NaN                    1449
Elevated               1248
Stage2                 1001
Hypertensive Crisis      45
Name: Blood Pressure, dtype: int64

We didn't cover how to deal with NaN in our class, so I gave points for people who didn't deal with NaNs as well.

For example, the following is an acceptable answer:

In [40]:
def function(row):
    if row['BPDiaAve'] < 80 and row['BPSysAve'] < 120:
        return 'Healthy'
    elif row['BPDiaAve'] < 80 and row['BPSysAve'] < 130:
        return 'Elevated'
    elif row['BPDiaAve'] < 90 and row['BPSysAve'] < 140:
        return 'Stage1'
    elif row['BPDiaAve'] <= 120 and row['BPSysAve'] <= 180:
        return 'Stage2'
    else:
        return 'Hypertensive Crisis'

In [41]:
df['Blood Pressure'] = df.apply(function, axis=1)
df['Blood Pressure'].value_counts()

Healthy                4794
Hypertensive Crisis    1494
Stage1                 1463
Elevated               1248
Stage2                 1001
Name: Blood Pressure, dtype: int64

Here, notice that I only moved the final statement to `else:`. Even if I didn't get rid of NaNs, only the counts for 1 condition will change.

## Diagram of conditions:

For complicated problems like this, it is always the best to visualize the possible outcomes

<img src="Images/blood_pressure.jpg" width=600>